.before-load{
	width: 300px;
	margin: 0 auto;
	font-size: 20px;
}
.main-section{
	display: none;
}
.convert{
	margin-bottom: 10px;
}
select {
	width: 60px;
}
.btn{
	display: block;
	margin: 0 auto;
	text-decoration: none;
	color: #000;
	width: 100px;
	height: 30px;
	background: #B0E0E6;
	border: solid #5F9EA0 1px;
	border-radius: 3px;
	text-align: center;
	line-height: 30px;
}
.main-section{
	background: #E6E6FA;
	padding: 10px;
	border-radius: 3px;
	border : solid 	#20B2AA 1px;
	text-align: center;
	margin: 0 auto;
	width: 400px;
}
.hide-option{
	display: none;
}
.convert__text{
	font-size: 17px;
	text-align: left;
	width: 110px;
  display: block;
  float: left;
}